@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Mynerve', cursive;

  min-height: 100vh;
}

.main-container {
  display: flex;
  flex: auto;

  min-height: 100vh;
}

.paper-container {
  background-color: #fff; /* Set the background color to white */
  border: 1px solid #ddd; /* Add a border to simulate paper edges */
  padding: 48px; /* Add some padding to create space between the content and edges */
}

/* Add transition animation for sliding in */
.step-container {
  position: relative;
  overflow: hidden;
}

/* Adjust the duration to make it slower */
.slide-in-right {
  animation: slideInRight 1s ease-out;  /* 1s for slower, 'ease-out' for smoother */
}

.slide-in-left {
  animation: slideInLeft 1s ease-out;  /* 1s for slower, 'ease-out' for smoother */
}

/* Define the slide-in right animation */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Define the slide-in left animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



/* color variables */
:root {
  --clr-primary: #d50000;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;
}

/* border radius */
:root {
  --radius: 0.2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
